$("#comments").append("<p><%= @comment.content %></p>");
<%# le llega desde el create del controller, esto se ejecuta y va a agregar deltro del elemento que tiene el di comments la linea @comment.content. append agrega el contenido al final%>